header, body, .container, nav, .banner, .button, span, div, figure, img, figcaption{
  border: 1px solid black;
}
html, body{
  line-height: 1rem;
}

/*Main container= Body*/
.main{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 4rem auto;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(90, 50%, 75%);
}

/*Header Container*/
header{
 display: flex;
 z-index: 5;
 position: fixed;
 width: 100%;
 height: 4rem;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 background-color: hsl(120, 100%, 20%);
}
.logo{
  height: 1.5rem
}
header nav{

}
/*Footer Container*/
footer{
  display: flex;
  height: 4rem;
  background-color: hsl(120, 100%, 20%);
}

/*General Container rules*/
    /*Large Containers*/
section{
  display: block;
}
.container{
  display: flex;
  max-width: 1080px;
  justify-content: center;
  align-items: center;
}
.container .split{
  flex-direction: column;
  max-width:100%;
  margin: 0;
  padding: 2rem 0 2rem 1.5rem;
  justify-content:center;
  align-items: center;
}
/*Banner*/
.banner{

}
.text-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
}
.button{
  display: flex;
  font-size: 1.5rem;
  line-height: 2.5rem;
  justify-content: center;
  background-color: hsl(90, 100%, 20%);
  width: 45%;
  border: 2px solid hsl
}
   /*Figures*/
figure{

}
figcaption{
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Large Figures (Banner image, Practice image, Video)*/
figure.large, video.large{
  width: 60%;
  overflow:hidden;
}
img.large{
  display: block;
  max-width: 100%;
  height: auto;
  margin:0;
}
figcaption.large{
  display: block;
  background-color: white;
}
/*Small Figures (Practice Info and Exhibi Info)*/
.info{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

figure.small{
  display: flex;
  padding: 1rem;
  background-color: hsl(220, 50%, 40%);
}
img.small{
  height: 35%;
  width: 35%;
  display: inline-block;
}
figcaption.small{
  margin: 0;
  width: 65%;
  justify-content: center;
  align-items: left;
  background-color: white;
}

/*Courses Figures*/
.learn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 100%;
  margin: 0;
  padding: 2rem 4.5rem;
}
figure.courses{
  width: 330px;

}
img.courses{
  height: auto;
  width: 330px;
  margin:0;
}
figcaption.courses{
  margin: 1rem;
  width: 330px;

}


/*Text Styles*/
h1{
  color: hsl(120, 100%, 18%);
  font-size: 3rem;
  font-weight: bold;
  line-height:3.25rem;
}
h2{
  color: hsl(120, 100%, 18%);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.75rem;
  background-color: white;
}
h4{
  font-size: 1.25rem;
  line-height: 1.5rem;

}
span{
    color: hsl(0, 0%, 0%);
    line-height: 1.25rem;
}
a{

}
